*{

    font-family: 'Roboto', sans-serif;
   
}
#cor{

    color:#f15858;
}

.icone {
    
    
    width:30px; /* you can use % */
    height: auto;
  
}

header,main,footer,img{

    width: 960px;
   margin: auto;
    

}

footer{
  text-align: right;
  border-top: 1px solid gray;
  padding: 12px;
}
p{

    text-align: left;
}

